# OS
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# Editors / IDEs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# Docker
docker-compose.override.yml

# Environment
.env
.env.*
!.env.example

# Misc
*.log
